<h2 id="title">Ember Fryctoria</h2>
{{link-to 'Index' 'index'}}
{{link-to 'fetchAll' 'fetch-all'}}
{{link-to 'fetchById' 'fetch-by-id'}}
{{link-to 'findById(Private)' 'find-by-id-private'}}
{{link-to 'reloadRecord' 'reload-record'}}
{{link-to 'update' 'update'}}
{{link-to 'create' 'create'}}
{{link-to 'delete' 'delete'}}
<button id="online-toggle" {{action 'toggleOnline'}}>
  {{#if isOnline}}
    Go Offline
  {{else}}
    Go Online
  {{/if}}
</button>
{{outlet}}
