<h2>fetchAll</h2>
<ul id='users'>
  {{#each user in model}}
  <li>
    {{user.id}}, {{user.name}}, {{user.age}},
    {{link-to 'Update' 'user-update-with-id' user.id class='update'}}
    <a href="" class='delete' {{action 'delete' user}}>Delete</a>
  </li>
  {{/each}}
</ul>
